.character{
  .sheet-header{
    display: flex;
    margin-top: 1.5%;
    border-bottom: var(--color-shadow-primary);
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-radius: 15px;
    padding-bottom: 5px;

    img{
      height: 150px;
      width: 100px;
      margin-right: 2.5%;
    }

    .character-info{
      display: block;
      width: 96%;

      h1{
        input{
          height: 58px;
        }
      }

      .xpbar{
        display: flex;

        label{
          margin-top: 3px;
        }
        input {
          width: 40%;
          margin-left: 5%;
        }
      }

    }
  }

  nav{
    margin-left: 50%;
    margin-top: -25px;
    padding-right: 5%;
    width: 50%;

    #cogwhell{
      border:none;
      height: 15px;
    }

    #cogwhell:hover{
      box-sizing: border-box;
      box-shadow: 0px 0px 10px var(--color-shadow-primary);
      background: #ff000050;
    }

    .active {
      #cogwhell{
        box-sizing: border-box;
        box-shadow: 0px 0px 10px var(--color-shadow-primary);
        background: #ff000050;
      }
    }
  }

  .sheet-main{
    margin-top: 15px;
    display: grid;
    grid: auto / 180px auto auto;
    grid-template-areas:
      'stats HP feat'
      'stats attacks feat'
      'stats ammo feat'
  ;
    grid-column-gap: 15px;
  }

  .attributes{
    grid-area: stats;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    input{
      border-style: none;
      overflow: visible;
      height: auto;
      background: none;
      color: #0d0d0d;
    }

  .attribute-box{
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: var(--color-background-item);

    border-style: ridge;

    .attribute-title{
      text-align: center;
      position: relative;
      width: auto;
      height: auto;
      font-size: 18px;
    }

    .attribute-value{
      width: 90%;
      height: 100%;
      margin: 0 auto;
      text-align: center;

      background-image:
              url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-3.png");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position-x: 5px;
      background-position-y: 2px;

      font-size: 45px;
    }

  }}

  .health-box{
    background-color: var(--color-background-item);
    padding: 15px;
    grid-area: HP;
    display: grid;
    grid-template-areas:
      'saves saves saves'
      'hp hp speed'
      'strain strain strain';
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    text-align: center;
    min-width: 210px;

    .saves{
      grid-area: saves;
      width: 100%;
      text-align: center;
      padding-bottom: 5px;

      i{
        font-size: 2em;
        padding-left: 5%;
        padding-right: 5%;
      }
    }

    .hp{
      width: 3em;
      grid-area: hp;
      font-size: 25px;
      text-align: center;

      border-style: ridge;
      border-radius: 20px;
      border-color: var(--color-shadow-primary);

      input{
        width: 2em;
        background-color: transparent;
        border: none;
      }
      #health-input{
        border-bottom-style: solid;
      }
      p{
        font-size: 15px;
      }

    }

    .speed-attribute{
      margin-left: auto;
      grid-area: speed;
      width: 3em;
      font-size: 25px;
      text-align: center;

      border-style: ridge;
      border-radius: 20px;
      border-color: var(--color-shadow-primary);;

      input{
        width: 2em;
        font-size: 25px;
        background-color: transparent;
        border: none;
      }
      p{
        font-size: 15px;
      }
    }

    .strain-tracker{
      grid-area: strain;
      font-size: 15px;

      .crossed{
        filter:invert();
      }
    }
  }

  .feat-box{
    display: block;
    grid-area: feat;
    min-width: 30%;
  }
}