.character{
  .sheet-header{
    display: flex;
    margin-top: 1.5%;
    border-bottom: var(--color-shadow-primary);
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-radius: 15px;
    padding-bottom: 5px;

    img{
      height: 150px;
      width: 100px;
      margin-right: 2.5%;
    }

    .character-info{
      display: block;
      width: 96%;

      h1{
        input{
          height: 58px;
        }
      }

      .xpbar{
        display: flex;

        label{
          margin-top: 3px;
        }
        input {
          width: 40%;
          margin-left: 5%;
        }
      }

    }
  }

  nav{
    margin-left: 50%;
    margin-top: -25px;
    padding-right: 5%;
    width: 50%;

    #cogwhell{
      border:none;
      height: 15px;
    }

    #cogwhell:hover{
      box-sizing: border-box;
      box-shadow: 0px 0px 10px var(--color-shadow-primary);
      background: #ff000050;
    }

    .active {
      #cogwhell{
        box-sizing: border-box;
        box-shadow: 0px 0px 10px var(--color-shadow-primary);
        background: #ff000050;
      }
    }
  }

  .attributes{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    input{
      border-style: none;
      overflow: visible;
      height: auto;
      background: none;
      color: #0d0d0d;
    }

  .attribute-box{
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: var(--color-text-light-3);

    border-style: ridge;

    .attribute-title{
      text-align: center;
      position: relative;
      width: auto;
      height: auto;
      font-size: 18px;
    }

    .attribute-value{
      width: 90%;
      height: 100%;
      margin: 0 auto;
      text-align: center;

      background-image:
              url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-3.png");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position-x: 5px;
      background-position-y: 2px;

      font-size: 60px;
    }

  }}


}