.item-sheet-card{
  display: grid;
  grid: auto / 30px 70% 30%;
  height:100%;
  border-style: ridge;
  padding: 5px;

  .item-icon{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;

    :hover{
      background-color: var(--color-background-item);
  }}


  .item-title{
    display: flex;

    h3{
      text-decoration: none;
      border: none;
      margin-top: auto;
      margin-left: 5px;
    }
  }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: inner-spin-button !important;
      height: 30px;
      width: 16px;
  }

    input[type=number] {
      -moz-appearance: spinner !important;
    }

  input {
    display: inline-block;
    width: 3em;
    height: 100%;

    :hover{
      background-color: transparent;
    }
  }
}