.item-sheet-card{
  display: grid;
  grid: auto / 70% 30%;
  height:100%;

  .Weapon-sheet-name{
  :hover{
    background-color: var(--color-background-item);
  }}


  h3{
    text-decoration: none;
    border: none;
    height: 100%;
    padding-top: 5px;
    padding-left: 5px;
  }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: inner-spin-button !important;
      height: 30px;
      width: 16px;
  }

    input[type=number] {
      -moz-appearance: spinner !important;
    }

  input {
    display: inline-block;
    height: 100%;

    :hover{
      background-color: transparent;
    }
  }
}