<div class="item-card" data-type="{{_id}}" >
    <div class="card-name">
        <h3>{{name}}</h3>
    </div>

    <div>
        {{editor system.description target="system.description" button=false owner=owner editable=false}}
    </div>
</div>