<div class="feat-card" data-type="{{_id}}" >
    <div class="card-name">
        {{name}}
    </div>
    <div class="card-prerequisite">
        {{system.prerequisite}}
    </div>
    <div class="card-description">
        {{system.description}}
    </div>
</div>