<div class="feat-card item" data-item-id="{{_id}}" >
    <div class="card-name">
        <h3><a class="toggle-description">{{name}}</a>
            {{#if inSheet}}
                <i class="fas fa-paper-plane-top item-rollable" data-item-id="{{_id}}"></i>
            {{/if}}
        </h3>
    </div>


    <div class="card-description hide-on-click {{#unless (eq flags.sbb.shown true)}}hidden{{/unless}}">
        {{editor system.description target="system.description" button=false owner=owner editable=false}}
    </div>
</div>