<div class="tenet-focus-card" data-type="{{_id}}">
    <div class="card-name
     {{#if (eq type "Tenet")}}
        {{#if system.used}}
            crossed
        {{/if}}
    {{/if}}">
        {{name}}
    </div>
</div>