@font-face {
  font-family: "origin tech";
  src: url("assets/fonts/origin_tech/OriginTech personal use.otf");
}
.skill-roll .true {
  background: green !important;
}
.skill-roll .false {
  background: red !important;
}
.skill-roll .roll-summary {
  margin-top: 30px;
}
.character .add-icon,
.NPC .add-icon {
  text-align: right;
  margin-right: 5px;
}
.character .skill-box,
.NPC .skill-box {
  text-align: center;
}
.character .skill-box .skill-header nav,
.NPC .skill-box .skill-header nav {
  margin-top: 15px;
}
.character .skill-box .skill-header nav a,
.NPC .skill-box .skill-header nav a {
  padding: 10px;
  margin-left: 2%;
  border-style: solid;
  border-color: #3dfb99;
}
.character .skill-box .skill-header nav .active,
.NPC .skill-box .skill-header nav .active {
  background-color: #003d20;
}
.character .skill-box .add-icon,
.NPC .skill-box .add-icon {
  text-align: right;
  margin-right: 5px;
  margin-top: -55px;
}
.character .skill-box .skill-list,
.NPC .skill-box .skill-list {
  margin-top: 55px;
}
.character .feat-box .add-icon,
.NPC .feat-box .add-icon {
  margin-top: -35px;
}
.character .feat-box .feat-list,
.NPC .feat-box .feat-list {
  margin-top: 35px;
}
.character .feat-box .feat-list h3,
.NPC .feat-box .feat-list h3,
.character .feat-box .feat-list .card-description,
.NPC .feat-box .feat-list .card-description {
  padding-left: 10px;
}
.character .equipment-box li,
.NPC .equipment-box li,
.character .effect-box li,
.NPC .effect-box li,
.character .equipment-box ol,
.NPC .equipment-box ol,
.character .effect-box ol,
.NPC .effect-box ol {
  margin-left: 0px;
  padding-left: 0px;
}
.character .equipment-box .attributes,
.NPC .equipment-box .attributes,
.character .effect-box .attributes,
.NPC .effect-box .attributes {
  text-align: center;
}
.character .equipment-box .header,
.NPC .equipment-box .header,
.character .effect-box .header,
.NPC .effect-box .header {
  align-items: center;
  text-align: center;
  border: 1px groove #3dfb99;
  font-size: 1.25em;
}
.character .equipment-box .item-detail,
.NPC .equipment-box .item-detail,
.character .effect-box .item-detail,
.NPC .effect-box .item-detail {
  flex: 0 0 70px;
}
.character .equipment-box .add-icon,
.NPC .equipment-box .add-icon,
.character .equipment-box .item-detail-space,
.NPC .equipment-box .item-detail-space {
  flex: 0 0 0px;
  width: 20px;
  height: 20px;
}
.character .effect-box .item-detail-edit,
.NPC .effect-box .item-detail-edit,
.character .effect-box .item-detail-space,
.NPC .effect-box .item-detail-space {
  flex: 0 0 70px;
}
.character {
  min-width: 855px;
  min-height: 870px;
}
.character .main-content {
  display: grid;
  grid-template-columns: 420px auto;
  grid-column-gap: 5%;
  padding: 2%;
}
.character .main-content .title-name {
  text-align: center;
  font-size: 2.5em;
}
.character .main-content .biomonitor {
  text-align: center;
}
.character .main-content .biomonitor .biomonitor-header input {
  border: none;
  width: 25%;
}
.character .main-content .biomonitor h1 {
  padding-top: 3%;
}
.character .main-content .biomonitor img {
  padding: 5%;
}
.character .main-content .biomonitor .strain-icons {
  font-size: 1.2em;
  width: 80%;
  margin: 0 auto;
}
.character .main-content .personal-files {
  margin-top: 5%;
  text-align: center;
}
.character .main-content .personal-files nav {
  padding-bottom: 15px;
}
.character .main-content .personal-files a {
  display: inline-block;
  width: 100px;
  padding: 20px 0;
  margin-top: 10px;
}
.character .main-content .nav-content-box {
  height: 800px;
  overflow: scroll;
}
.character .main-content .nav-content-box::-webkit-scrollbar {
  display: none;
}
.character .main-content .personal-file-box .personal-box .playerimg {
  object-fit: cover;
  max-height: 400px;
}
.character .main-content .personal-file-box .personal-box table {
  font-size: 1.25em;
  border: none;
  margin-bottom: 15px;
  padding-left: 5px;
}
.character .main-content .personal-file-box .personal-box table tr:nth-child(even) {
  background-color: #000000;
}
.character .main-content .personal-file-box .tenet-box .content-box,
.character .main-content .personal-file-box .focus-box .content-box {
  text-align: left;
  font-size: 1.25em;
  margin-top: 20px;
  padding-left: 5px;
}
.character .main-content .personal-file-box .tenet-box .content-box .tenet-focus-card,
.character .main-content .personal-file-box .focus-box .content-box .tenet-focus-card {
  padding-bottom: 15px;
}
.character .main-content .personal-file-box .tenet-box .content-box .tenet-focus-card .crossed,
.character .main-content .personal-file-box .focus-box .content-box .tenet-focus-card .crossed {
  text-decoration: line-through;
}
.character .main-content .personal-file-box .tenet-box .add-icon,
.character .main-content .personal-file-box .focus-box .add-icon {
  margin-top: -35px;
}
.character .main-content .personal-file-box .bio-box {
  padding-bottom: 15px;
}
.character .main-content .personal-file-box .bio-box .editor {
  height: 500px;
  font-size: 1em !important;
}
.character .main-content .personal-file-box .bio-box .bio-content {
  padding-left: 5px;
}
.character .main-content .note-tab {
  color: #3dfb99;
}
.character .main-content .note-tab .note-content {
  padding-left: 5px;
  font-size: 1.1em;
}
.character .main-content .note-tab .editor {
  height: 500px;
  font-size: 1em !important;
}
.NPC .main-content {
  display: grid;
  grid-template-columns: 330px auto;
  grid-column-gap: 5%;
  padding: 2%;
  height: 100%;
}
.NPC .main-content .info-box {
  display: grid;
  grid-template-columns: 50% 50%;
}
.NPC .main-content .info-box .NPCimg {
  padding: 2%;
}
.NPC .main-content .info-box button {
  width: 80%;
  margin-left: 10%;
  color: #3dfb99;
}
.NPC .main-content .info-box .npc-settings-div {
  text-align: right;
  margin-top: -35px;
  padding-right: 5px;
  padding-bottom: 25px;
}
.NPC .main-content .abilities-box {
  margin-top: 5%;
}
.NPC .main-content .abilities-box .add-icon {
  font-size: 1.25em;
}
.NPC .main-content .nav-box::-webkit-scrollbar {
  display: none;
}
.NPC .main-content .nav-box {
  min-width: 280px;
  overflow: scroll;
}
.NPC .main-content .nav-box .skill-box .add-icon {
  margin-top: -20px;
  margin-left: -5px;
  font-size: 1.25em;
}
.NPC .main-content .nav-box .skill-box .skill-list {
  margin-top: 20px;
}
.NPC .main-content .feat-box .feat-list {
  margin-top: 15px;
}
.sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet-content .editor {
  height: 100%;
}
.skill-rank-input {
  width: 40% !important;
}
.SBB.sheet.item .form {
  display: flex;
  flex-direction: column;
}
.SBB.sheet.item .sheet-header .feat-title {
  width: 96%;
}
.SBB.sheet.item .sheet-header .feat-title input {
  margin: 0%;
}
.SBB.sheet.item .sheet-header .feat-title h2 input {
  height: 48px;
}
.SBB.sheet.item .sheet-header .feat-title h4 {
  display: flex;
  margin: 0%;
  font-style: italic;
  font-size: 12px;
  border: none;
}
.SBB.sheet.item .sheet-header .feat-title h4 input {
  margin-left: 2%;
  font-style: italic;
  font-size: 12px;
  border: none;
}
.equipment-list .header {
  align-items: center;
  text-align: center;
  border: 1px groove #3dfb99;
  font-size: 1.25em;
}
.equipment-list .item-detail {
  flex: 0 0 70px;
}
.equipment-list .add-icon,
.equipment-list .item-detail-space {
  flex: 0 0 0px;
  width: 20px;
  height: 20px;
}
.equipment-list .item-list .item,
.effect-list .item-list .item {
  align-items: center;
  text-align: center;
  display: flex;
  height: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px ridge #3dfb99;
}
.equipment-list .item-list .item .item-title,
.effect-list .item-list .item .item-title {
  width: 70%;
  display: flex;
}
.equipment-list .item-list .item .item-title .item-icon,
.effect-list .item-list .item .item-title .item-icon {
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}
.equipment-list .item-list .item .item-title h4,
.effect-list .item-list .item .item-title h4 {
  padding-left: 5px;
}
.equipment-list .item-list .item .item-summary,
.effect-list .item-list .item .item-summary {
  flex: 0 0 100%;
}
.equipment-list .item-list .item .item-summary .item-properties .tag,
.effect-list .item-list .item .item-summary .item-properties .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
}
.equipment-list .item-list .item .armour-equipped-button,
.effect-list .item-list .item .armour-equipped-button {
  text-transform: uppercase;
}
.equipment-list .item-list .item .inactive,
.effect-list .item-list .item .inactive {
  color: #7a7971;
}
.vehicle {
  min-width: 670px;
}
.vehicle .main-content {
  display: grid;
  grid-template-areas: 'status nav' 'content content';
  grid-template-columns: auto 200px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.vehicle .status-box {
  grid-area: status;
  text-align: center;
}
.vehicle .status-box .status-bars .health-bar,
.vehicle .status-box .status-bars .fuel-bar {
  width: 49.5%;
  display: inline-block;
}
.vehicle .status-box .status-bars .crew-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.vehicle .status-box .vehicle-settings-div {
  text-align: right;
  margin-top: -32px;
  padding-right: 15px;
  padding-bottom: 5px;
}
.vehicle .status-box .status-table table {
  border-collapse: collapse;
  border: none;
}
.vehicle .status-box .status-table table td:nth-child(odd) {
  border-left: 1px solid #3dfb99;
}
.vehicle .status-box .status-table table td:first-child {
  border: none;
}
.vehicle .status-box .status-table table tr:nth-child(even) {
  background-color: transparent;
}
.vehicle .status-box .action-buttons button {
  color: #3dfb99;
  width: 40%;
  display: inline-block;
  border-color: #3dfb99;
}
.vehicle .nav-box {
  grid-area: nav;
}
.vehicle .nav-box a {
  display: block;
  padding: 5px;
}
.vehicle .nav-content-box::-webkit-scrollbar {
  display: none;
}
.vehicle .nav-content-box {
  grid-area: content;
}
.vehicle .nav-content-box .crew-list-box {
  overflow: scroll;
  display: grid;
  grid-template-columns: 40% auto;
}
.vehicle .nav-content-box .crew-list-box .role-list {
  text-align: center;
  border-right: 1px solid #3dfb99;
  padding-top: 10px;
}
.vehicle .nav-content-box .crew-list-box .role-list input {
  width: 1.5em;
}
.vehicle .nav-content-box .crew-list-box .role-list table {
  border: none;
  margin: 0;
}
.vehicle .nav-content-box .crew-list-box .role-list table th {
  border-bottom: 1px solid #3dfb99;
  padding: 0;
  font-size: 1.25em;
  font-weight: normal;
}
.vehicle .nav-content-box .crew-list-box .role-list table tr:nth-child(even) {
  background: none;
}
.vehicle .nav-content-box .crew-list-box .role-list table tr:hover {
  background-color: #003d20;
}
.vehicle .nav-content-box .crew-list-box .crew-list .crew-header {
  border-bottom: 1px solid #3dfb99;
  padding-left: 25px;
  font-size: 1.25em;
  padding-top: 10px;
}
.vehicle .nav-content-box .crew-list-box .crew-list .crew-image {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 50px;
}
.vehicle .nav-content-box .crew-list-box .crew-list .strain-bar .full-bar {
  background-color: #ff0000;
}
.vehicle .nav-content-box .crew-list-box .crew-list .actor-list {
  padding: 0;
}
.vehicle .nav-content-box .crew-list-box .crew-list .actor:hover {
  background-color: #003d20;
}
.character .backgroundOverlay,
.NPC .backgroundOverlay,
.vehicle .backgroundOverlay {
  background-image: url("./assets/filmgrainOverlay.png");
  background-size: 100%;
  background-repeat: repeat;
  z-index: 10;
  width: 100%;
  height: 97%;
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
  margin-top: -15px;
  margin-left: -10px;
}
.character .prosemirror menu li,
.NPC .prosemirror menu li,
.vehicle .prosemirror menu li {
  background: var(--color-control-bg);
}
.character .window-content,
.NPC .window-content,
.vehicle .window-content {
  background-color: #000000;
  background-image: none;
  color: #3dfb99;
}
.character .window-content input,
.NPC .window-content input,
.vehicle .window-content input {
  color: #3dfb99;
}
.character .window-content h1,
.NPC .window-content h1,
.vehicle .window-content h1,
.character .window-content h2,
.NPC .window-content h2,
.vehicle .window-content h2 {
  font-family: "origin tech";
  text-transform: uppercase;
  text-align: center;
  border: solid 1px;
  border-color: #3dfb99;
  padding: 5px;
  background-color: #003d20;
}
.character .window-content h3,
.NPC .window-content h3,
.vehicle .window-content h3 {
  border-bottom-color: #3dfb99;
}
.character .progress-bar,
.NPC .progress-bar,
.vehicle .progress-bar {
  background-color: #7a7971;
  width: 100%;
  height: 15px;
}
.character .full-bar,
.NPC .full-bar,
.vehicle .full-bar {
  background-color: #3dfb99;
  height: 100%;
}
.character .prosemirror menu li {
  background: var(--color-control-bg);
}
.character .window-content nav a {
  border-style: solid;
  border-color: #3dfb99;
}
.character .window-content nav .active {
  background-color: #003d20;
}
.character .main-content .biomonitor,
.character .main-content .personal-files,
.character .main-content .nav-content-box {
  background-color: #000000;
  border-style: solid;
  border-color: #3dfb99;
  z-index: 4;
}
.character .main-content .biomonitor .biomonitor-header {
  padding-bottom: 5px;
}
.character .main-content .biomonitor .biomonitor-header table {
  border: none;
  text-transform: uppercase;
  font-size: 1.25em;
  padding-left: 5px;
  margin-top: -10px;
}
.character .main-content .biomonitor .biomonitor-header table tr:nth-child(even) {
  background-color: transparent;
}
.character .main-content .biomonitor .biomonitor-header .inactive {
  color: #7a7971;
}
.character .main-content .biomonitor .biomonitor-header .inactive input {
  color: #7a7971;
}
.character .main-content .biomonitor .status-box {
  border-left-color: #3dfb99;
  border-left-style: solid;
}
.character .main-content .biomonitor .status-box table {
  border: none;
}
.character .main-content .biomonitor .status-box .saves i {
  font-size: 2em;
  padding-left: 15px;
  padding-top: 5px;
}
.character .main-content .biomonitor .strain-icons .crossed {
  color: #7a7971;
}
.NPC .info-box,
.NPC .abilities-box,
.NPC .nav-box {
  background-color: #000000;
  border-style: solid;
  border-color: #3dfb99;
  z-index: 4;
}
.NPC .info-box .status-box,
.NPC .info-box .armour-box {
  border-left-color: #3dfb99;
  border-left-style: solid;
}
.NPC .info-box table {
  border: none;
  font-size: 1.25em;
  padding-left: 5px;
  margin-top: -10px;
}
.NPC .info-box .status-box table {
  text-transform: uppercase;
}
.NPC .info-box .status-box table tr:nth-child(even) {
  background-color: transparent;
}
.NPC .nav-box .nav-bar nav {
  background-color: #003d20;
  color: #7a7971;
}
.NPC .nav-box .nav-bar nav h1 {
  font-size: 1.5em;
  border-top: none;
}
.NPC .nav-box .nav-bar nav .active {
  color: #3dfb99;
}
.item .item-summary .item-properties .tag {
  border: 1px solid #3dfb99;
  border-radius: 3px;
  background: #000000;
}
.item .rollable:hover .item-icon {
  background-image: url("../../icons/svg/d10-grey.svg") !important;
}
.item .rollable .item-icon:hover {
  filter: drop-shadow(0 0 15px #3dfb99);
}
.vehicle .status-box,
.vehicle .nav-box,
.vehicle .nav-content-box {
  background-color: #000000;
  border-style: solid;
  border-color: #3dfb99;
}
.vehicle .status-box .status-bars h4 {
  font-family: "origin tech";
  text-transform: uppercase;
}
.vehicle .status-box .status-bars .fuel-bar .full-bar {
  background-color: #ffa500;
}
.vehicle .status-box .status-bars .crew-bar .full-bar {
  background-color: #3dfb99;
}
.vehicle .status-box .status-bars .below-min .full-bar {
  background-color: #ff0000;
}
.vehicle .nav-box {
  text-align: center;
}
.vehicle .nav-box a {
  text-transform: uppercase;
  border: none;
}
.vehicle .nav-box .active {
  background-color: #003d20;
}
/*# sourceMappingURL=SBB.css.map */