.skill-roll .true {
  background: green !important;
}
.skill-roll .false {
  background: red !important;
}
.skill-roll .roll-summary {
  margin-top: 30px;
}
.character {
  min-width: 720px;
}
.character .sheet-header {
  display: flex;
  margin-top: 1.5%;
  border-bottom: var(--color-shadow-primary);
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-radius: 15px;
  padding-bottom: 5px;
}
.character .sheet-header img {
  height: 150px;
  width: 100px;
  margin-right: 2.5%;
}
.character .sheet-header .character-info {
  display: block;
  width: 96%;
}
.character .sheet-header .character-info h1 input {
  height: 58px;
}
.character .sheet-header .character-info .xpbar {
  display: flex;
}
.character .sheet-header .character-info .xpbar label {
  margin-top: 3px;
}
.character .sheet-header .character-info .xpbar input {
  width: 40%;
  margin-left: 5%;
}
.character nav .item.active {
  text-shadow: 0 0 10px var(--color-shadow-primary);
}
.character .main-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-left: 50%;
  margin-top: -25px;
  padding-right: 5%;
  width: 50%;
}
.character .main-tabs #cogwhell {
  border: none;
  height: 15px;
}
.character .main-tabs #cogwhell:hover {
  box-sizing: border-box;
  box-shadow: 0px 0px 10px var(--color-shadow-primary);
  background: var(--color-background-shadow-primary);
}
.character .main-tabs .active #cogwhell {
  box-sizing: border-box;
  box-shadow: 0px 0px 10px var(--color-shadow-primary);
  background: var(--color-background-shadow-primary);
}
.character .sheet-main {
  margin-top: 15px;
  display: grid;
  grid: auto / 30% 40% 30%;
  grid-template-areas: 'tenet HP skill' 'feat attacks skill' 'feat attacks skill';
  grid-column-gap: 15px;
}
.character .attributes {
  grid-area: stats;
  display: grid;
  grid-template-columns: 80px 80px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.character .attributes input {
  border-style: none;
  overflow: visible;
  height: auto;
  background: none;
  color: #0d0d0d;
}
.character .attributes .attribute-box {
  width: 80px;
  height: 80px;
  overflow: hidden;
  background-color: var(--color-background-item);
  border-style: ridge;
}
.character .attributes .attribute-box .attribute-title {
  text-align: center;
  position: relative;
  width: auto;
  height: auto;
  font-size: 18px;
}
.character .attributes .attribute-box .attribute-value {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-3.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
  font-size: 45px;
}
.character .health-box {
  padding: 15px;
  grid-area: HP;
  display: grid;
  grid-template-areas: 'saves saves saves' 'hp armour speed' 'strain strain strain';
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
  min-width: 210px;
}
.character .health-box .saves {
  grid-area: saves;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.character .health-box .saves i {
  font-size: 2em;
  padding-left: 5%;
  padding-right: 5%;
}
.character .health-box .hp {
  width: 3em;
  grid-area: hp;
  font-size: 25px;
  text-align: center;
  border-style: ridge;
  border-radius: 20px;
  border-color: var(--color-shadow-primary);
}
.character .health-box .hp input {
  width: 2em;
  background-color: transparent;
  border: none;
}
.character .health-box .hp #health-input {
  border-bottom-style: solid;
}
.character .health-box .hp p {
  font-size: 15px;
}
.character .health-box .armour {
  grid-area: armour;
}
.character .health-box .speed-attribute {
  margin-left: auto;
  grid-area: speed;
  width: 3em;
  font-size: 25px;
  text-align: center;
  border-style: ridge;
  border-radius: 20px;
  border-color: var(--color-shadow-primary);
}
.character .health-box .speed-attribute input {
  width: 2em;
  font-size: 25px;
  background-color: transparent;
  border: none;
}
.character .health-box .speed-attribute p {
  font-size: 15px;
}
.character .health-box .strain-tracker {
  grid-area: strain;
  font-size: 15px;
}
.character .health-box .strain-tracker #context-menu {
  font-size: 13px;
}
.character .health-box .strain-tracker .crossed {
  box-sizing: border-box;
  box-shadow: 0px 0px 10px var(--color-shadow-primary);
  background: var(--color-background-shadow-primary);
}
.character .feat-box {
  display: block;
  grid-area: feat;
  min-width: 30%;
}
.character .tenets-box {
  grid-area: tenet;
}
.character .tenets-box .tenet-focus-card .crossed {
  text-decoration: line-through;
}
.character .skill-box {
  grid-area: skill;
}
.character .attack-and-ammo-box {
  grid-area: attacks;
}
.sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet-content .editor {
  height: 100%;
}
.SBB.sheet.item .form {
  display: flex;
  flex-direction: column;
}
.SBB.sheet.item .sheet-header .feat-title {
  width: 96%;
}
.SBB.sheet.item .sheet-header .feat-title input {
  margin: 0%;
}
.SBB.sheet.item .sheet-header .feat-title h2 input {
  height: 48px;
}
.SBB.sheet.item .sheet-header .feat-title h4 {
  display: flex;
  margin: 0%;
  font-style: italic;
  font-size: 12px;
  border: none;
}
.SBB.sheet.item .sheet-header .feat-title h4 input {
  margin-left: 2%;
  font-style: italic;
  font-size: 12px;
  border: none;
}
.item-sheet-card {
  display: flex;
  height: 100%;
  border-style: ridge;
  padding: 5px;
}
.item-sheet-card .rollable:hover .item-icon {
  background-image: url("../../icons/svg/d10-grey.svg") !important;
}
.item-sheet-card .rollable .item-icon:hover {
  box-sizing: border-box;
  box-shadow: 0px 0px 10px var(--color-shadow-primary);
  background-color: var(--color-background-shadow-primary);
}
.item-sheet-card .item-title {
  width: 70%;
  display: flex;
}
.item-sheet-card .item-title h3 {
  padding: 5px;
  text-decoration: none;
  border: none;
}
.item-sheet-card .item-title .item-icon {
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.item-sheet-card input::-webkit-outer-spin-button,
.item-sheet-card input::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  height: 30px;
  width: 16px;
}
.item-sheet-card input[type=number] {
  -moz-appearance: spinner !important;
}
.item-sheet-card input {
  display: inline-block;
  width: 3em;
  height: 100%;
}
.item-sheet-card input :hover {
  background-color: transparent;
}
/*# sourceMappingURL=SBB.css.map */