@font-face {
  font-family: "origin tech";
  src: url("assets/fonts/origin_tech/OriginTech personal use.otf");
}
.skill-roll .true {
  background: green !important;
}
.skill-roll .false {
  background: red !important;
}
.skill-roll .roll-summary {
  margin-top: 30px;
}
.character {
  min-width: 855px;
  min-height: 920px;
}
.character .main-content {
  display: grid;
  grid-template-columns: 420px auto;
  grid-column-gap: 5%;
  padding: 5%;
}
.character .main-content .title-name {
  text-align: center;
  font-size: 2.5em;
}
.character .main-content .biomonitor {
  text-align: center;
}
.character .main-content .biomonitor h1 {
  padding-top: 3%;
}
.character .main-content .biomonitor img {
  padding: 5%;
}
.character .main-content .personal-files {
  margin-top: 5%;
  text-align: center;
}
.character .main-content .personal-files nav {
  padding-bottom: 15px;
}
.character .main-content .personal-files a {
  display: inline-block;
  width: 100px;
  padding: 20px;
  margin-top: 10px;
}
.character .main-content .add-icon {
  text-align: right;
  margin-right: 5px;
}
.character .main-content .skill-box {
  text-align: center;
}
.character .main-content .skill-box .skill-header nav {
  margin-top: 10px;
}
.character .main-content .skill-box .skill-header nav a {
  padding: 10px;
  margin-left: 2%;
}
.character .main-content .skill-box .add-icon {
  text-align: right;
  margin-right: 5px;
  margin-top: -55px;
}
.character .main-content .skill-box .skill-list {
  margin-top: 55px;
}
.character .main-content .feat-box .add-icon {
  margin-top: -35px;
}
.character .main-content .feat-box .feat-list {
  margin-top: 35px;
}
.character .main-content .feat-box .feat-list h3,
.character .main-content .feat-box .feat-list .card-description {
  padding-left: 10px;
}
.character .main-content .equipment-box li,
.character .main-content .equipment-box ol {
  margin-left: 0px;
  padding-left: 0px;
}
.sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet-content .editor {
  height: 100%;
}
.skill-rank-input {
  width: 40% !important;
}
.SBB.sheet.item .form {
  display: flex;
  flex-direction: column;
}
.SBB.sheet.item .sheet-header .feat-title {
  width: 96%;
}
.SBB.sheet.item .sheet-header .feat-title input {
  margin: 0%;
}
.SBB.sheet.item .sheet-header .feat-title h2 input {
  height: 48px;
}
.SBB.sheet.item .sheet-header .feat-title h4 {
  display: flex;
  margin: 0%;
  font-style: italic;
  font-size: 12px;
  border: none;
}
.SBB.sheet.item .sheet-header .feat-title h4 input {
  margin-left: 2%;
  font-style: italic;
  font-size: 12px;
  border: none;
}
.equipment-list .weapon-header,
.equipment-list .consumables-header {
  align-items: center;
  text-align: center;
  border: 1px groove #32a956;
  font-size: 1.25em;
}
.equipment-list .item-detail {
  flex: 0 0 60px;
}
.equipment-list .add-icon,
.equipment-list .item-detail-space {
  flex: 0 0 0px;
  width: 20px;
  height: 20px;
}
.item-list .item {
  align-items: center;
  text-align: center;
  display: flex;
  height: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px ridge #32a956;
}
.item-list .item .item-title {
  width: 70%;
  display: flex;
}
.item-list .item .item-title .item-icon {
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}
.item-list .item .item-title h4 {
  padding-left: 5px;
}
.item-list .item .item-summary {
  flex: 0 0 100%;
}
.item-list .item .item-summary .item-properties .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
}
.character .window-content {
  background-color: #000000;
  background-image: none;
  color: #5cdf20;
}
.character .window-content input {
  color: #5cdf20;
}
.character .window-content h1,
.character .window-content h2 {
  font-family: "origin tech";
  text-transform: uppercase;
  text-align: center;
  border-bottom-color: #5cdf20;
  padding: 5px;
}
.character .window-content h3 {
  border-bottom-color: #5cdf20;
}
.character .window-content nav a {
  border-style: ridge;
  border-color: #5cdf20;
}
.character .backgroundOverlay {
  background-image: url("./assets/filmgrainOverlay.png");
  background-size: 100%;
  background-repeat: repeat;
  z-index: 10;
  width: 100%;
  height: 97%;
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
}
.character .main-content {
  padding: 5%;
}
.character .main-content .biomonitor,
.character .main-content .personal-files,
.character .main-content .nav-context-box {
  background-color: #000000;
  border-style: solid;
  border-color: #32a956;
  z-index: 4;
}
.character .main-content .biomonitor .biomonitor-header {
  padding-bottom: 5px;
}
.character .main-content .biomonitor .biomonitor-header table {
  border: none;
  text-transform: uppercase;
  font-size: 1.25em;
}
.character .main-content .biomonitor .biomonitor-header table tr:nth-child(even) {
  background-color: transparent;
}
.character .main-content .biomonitor .status-box {
  border-left-color: #5cdf20;
  border-left-style: solid;
}
.character .main-content .biomonitor .status-box table {
  border: none;
}
.item .item-summary .item-properties .tag {
  border: 1px solid #32a956;
  border-radius: 3px;
  background: #000000;
}
.item .rollable:hover .item-icon {
  background-image: url("../../icons/svg/d10-grey.svg") !important;
}
.item .rollable .item-icon:hover {
  filter: drop-shadow(0 0 15px #5cdf20);
}
/*# sourceMappingURL=SBB.css.map */