<div class="feat-card" data-type="{{_id}}" >
    <div class="feat-card-name">
        {{name}}
    </div>
    <div class="feat-card-prerequisite">
        {{system.prerequisite}}
    </div>
    <div class="feat-card-description">
        {{system.description}}
    </div>
</div>