<div class="feat-card">
    <div class="feat-card-name">
        test
        {{name}}
    </div>
    <div class="feat-card-prerequisite">
        {{system.prerequisite}}
    </div>
    <div class="feat-card-description">
        {{system.description}}
    </div>
</div>