.character{
  .window-content {
    background-image: url("./assets/background.png");
    color: @fontColor;


    h1, h2 {
      font-family: "origin tech";
      text-transform: uppercase;
      text-align: center;
    }

    h3{
      border-bottom: none;
    }

    input{
      color: white;
    }

    .character-info h1{
      text-align: left;
    }

    nav{
      a.active{
        text-shadow: 0 0 15px @secondaryColor;
      }
    }

    .sheet-header{
      border-bottom: @accentColor;
      border-bottom-style: solid;
      border-bottom-width: thick;
      border-radius: 15px;
      padding-bottom: 5px;
    }

    .sheet-main {
      .health-box, .feat-box, .tenets-box, .skill-box, .attack-box, .ammo-box {
        background-color: @primaryColor;
        border-style: solid;
        border-color: @accentColor;

      h1,h2{
        padding: 10px;
      }

        .add-icon{
          text-align: center;
          border-bottom: solid;
          border-bottom-color: var(--color-underline-header);
          font-size: 2em;
        }
      }

      .speed-attribute, .hp{
        border-style: ridge;
        border-radius: 20px;
        border-color: @accentColor;
      }

      .skill-header{
        nav{
          font-size: 2em;
          font-family: "origin tech";
          text-transform: uppercase;
        }
      }

      .strain-tracker{
        .crossed{
          //box-sizing: border-box;
          //box-shadow: 0px 0px 10px var(--color-shadow-primary);
          //background: var(--color-background-shadow-primary);
          color: @secondaryColor;
        }
      }

    }
  }
}