@font-face {
  font-family: "origin tech";
  src: url("assets/fonts/origin_tech/OriginTech personal use.otf");
}


// Colors
@primaryColor: rgba(32, 92, 223, 0.6);
@secondaryColor: rgba(92, 223, 32, 1);
@accentColor: rgba(255, 34, 74,1);
@strainCol: gray;
@backgroundColor: black;
@fontColor: white;