@font-face {
  font-family: "origin tech";
  src: url("assets/fonts/origin_tech/OriginTech personal use.otf");
}


// Colors
@primaryColor: rgb(0,0,0);
@headerlineColor: rgba(92, 223, 32, 1);
@borderColor: rgba(50, 169, 86, 1);
@borderLight: rgba(201, 199, 184, 1);
@addButtonCol: rgba(92, 223, 32, 1);
@strainCol: gray;
@backgroundColor: rgb(0,0,0);
@fontColor: rgba(92, 223, 32, 1);