<form class="{{cssClass}}" autocomplete="off">
    <img class="backgroundOverlay">

    <section class="main-content">

        <div class="flexcol left-alined-content">
            <div class="status-box">

            </div>

            <div class="abilities-box">
                {{> "systems/sbb/templates/sheets/partials/feat-box.hbs"}}
            </div>
        </div>

        <div class="nav-box">

        </div>

    </section>
</form>