<form class="{{cssClass}}" autocomplete="off">
    <img class="backgroundOverlay">

    <section class="main-content">
        <div class="status-box">

        </div>

        <div class="nav-box">

        </div>

        <div class="nav-context-box">

        </div>
    </section>
</form>