.character{
  min-width: 800px;
  height: 900px;

  .sheet-header{
    display: flex;
    margin-top: 1.5%;

    img{
      height: 150px;
      width: 100px;
      margin-right: 2.5%;
    }

    .character-info{
      display: block;
      width: 96%;

      h1{
        input{
          height: 58px;
        }
      }

      .xpbar{
        display: flex;

        label{
          margin-top: 3px;
        }
        input {
          width: 40%;
          margin-left: 5%;
        }
      }

    }
  }

  .main-tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    margin-top: -35px;
    padding-right: 10px;
  }

  .add-icon{
    margin-left: auto;
    width: 10%;
  }

  .sheet-main{
    margin-top: 15px;
    display: grid;
    grid: auto / 30% 40% 30%;
    grid-template-areas:
      'tenet HP skill'
      'feat attacks skill';
    grid-column-gap: 15px;
    grid-row-gap: 10px;
  }

  .attributes{
    grid-area: stats;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    input{
      border-style: none;
      overflow: visible;
      height: auto;
      background: none;
      color: #0d0d0d;
    }

  .attribute-box{
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: var(--color-background-item);

    border-style: ridge;

    .attribute-title{
      text-align: center;
      position: relative;
      width: auto;
      height: auto;
      font-size: 18px;
    }

    .attribute-value{
      width: 90%;
      height: 100%;
      margin: 0 auto;
      text-align: center;

      background-image:
              url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-3.png");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position-x: 5px;
      background-position-y: 2px;

      font-size: 45px;
    }

  }}

  .health-box{
    grid-area: HP;
    display: grid;
    grid-template-areas:
      'saves saves saves'
      'hp armour speed'
      'strain strain strain';
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    text-align: center;
    min-width: 210px;

    .saves{
      grid-area: saves;
      width: 100%;
      text-align: center;
      padding-bottom: 5px;

      i{
        font-size: 2em;
        padding-left: 5%;
        padding-right: 5%;
      }
    }

    .hp{
      width: 3em;
      grid-area: hp;
      font-size: 25px;
      text-align: center;
      margin-left: 10px;

      input{
        width: 2em;
        background-color: transparent;
        border: none;
      }
      #health-input{
        border-bottom-style: solid;
      }
      p{
        font-size: 15px;
      }

    }

    .armour {
      grid-area: armour;
    }

    .speed-attribute{
      margin-left: auto;
      grid-area: speed;
      width: 3em;
      font-size: 25px;
      margin-right: 10px;

      input{
        width: 2em;
        font-size: 25px;
        background-color: transparent;
        border: none;
      }
      p{
        font-size: 15px;
      }
    }

    .strain-tracker{
      grid-area: strain;
      font-size: 15px;
      padding-bottom: 15px;

      #context-menu{
        font-size: 13px;
      }

    }
  }

  .feat-box{
    display: block;
    grid-area: feat;
    min-width: 30%;

    .feat-list h3{
      padding-left: 10px;
    }

    .feat-card{
      margin-bottom: 10px;
    }
  }

  .tenets-box{
    grid-area: tenet;

    .tenet-focus-card{
      .crossed{
        text-decoration: line-through;
      }

      padding-left: 10px;
      font-size: 1.25em;
    }
  }

  .skill-box{
    grid-area: skill;
    margin-right: 11%;

    nav{
      text-align: center;
      padding-bottom: 5px;
      margin-bottom: 5px;
      a {
        padding-left: 5%;
      }
    }

    h3{
      padding-left: 10px;
    }
  }

  .attack-and-ammo-box{
    grid-area: attacks;

    .ammo-box{
      margin-top: 10px;
    }
  }
}