.character {
  min-width: 855px;
  min-height: 870px;

  .main-content {
    display: grid;
    grid-template-columns: 420px auto;
    grid-column-gap: 5%;
    padding: 2%;


    .title-name {
      text-align: center;
      font-size: 2.5em;
    }

    .biomonitor {
      text-align: center;

      .biomonitor-header input {
        border: none;
        width: 25%;
      }

      h1 {
        padding-top: 3%;
      }

      img {
        padding: 5%;
      }

      .strain-icons {
        font-size: 1.2em;
        width: 80%;
        margin: 0 auto;
      }
    }

    .personal-files {
      margin-top: 5%;
      text-align: center;

      nav {
        padding-bottom: 15px;
      }

      a {
        display: inline-block;
        width: 100px;
        padding: 20px 0;
        margin-top: 10px;
      }
    }

    .nav-context-box {
      height: 800px;
      overflow: scroll;

    }

    .nav-context-box::-webkit-scrollbar {
      display: none;
    }

    .add-icon {
      text-align: right;
      margin-right: 5px;
    }

  .personal-file-box{
    .personal-box{
      .playerimg{
        object-fit: cover;
        max-height: 400px;
      }

      table{
        font-size: 1.25em;
        border: none;
        margin-bottom: 15px;
      }

      table tr:nth-child(even){
        background-color: @backgroundColor;
      }

    }

    .tenet-box, .focus-box{
      .content-box {
        text-align: center;
        font-size: 1.25em;
        margin-top: 20px;

        .tenet-focus-card{
          padding-bottom: 15px;

          .crossed{
            text-decoration: line-through;
          }
        }
      }

      .add-icon{
        margin-top: -35px;
      }
    }

    .bio-box{
      padding-bottom: 15px;

      .editor {
        height: 500px;
        font-size: 1em !important;
      }
    }
  }

    .skill-box {
      text-align: center;

      .skill-header {
        nav {
          margin-top: 15px;

          a {
            padding: 10px;
            margin-left: 2%;
          }
        }
      }

      .add-icon {
        text-align: right;
        margin-right: 5px;
        margin-top: -55px;
      }

      .skill-list {
        margin-top: 55px;
      }
    }

    .feat-box {
      .add-icon {
        margin-top: -35px;
      }

      .feat-list {
        margin-top: 35px;

        h3, .card-description {
          padding-left: 10px;
        }
      }
    }

    .equipment-box, .effect-box {
      li, ol {
        margin-left: 0px;
        padding-left: 0px;
      }


      .attributes {
        text-align: center;
      }

      .header {
        align-items: center;
        text-align: center;
        border: 1px groove @borderColor;
        font-size: 1.25em;
      }

      .item-detail {
        flex: 0 0 70px;
      }
    }

    .equipment-box {
      .add-icon, .item-detail-space {
        flex: 0 0 0px;
        width: 20px;
        height: 20px;
      }
    }

    .effect-box {
      .item-detail-edit, .item-detail-space {
        flex: 0 0 70px;
      }
    }

    .notes{
      color: @fontColor;

      .editor {
        height: 500px;
        font-size: 1em !important;
      }
    }

  }
}