.equipment-list{
  .weapon-header, .consumables-header{
    align-items: center;
    text-align: center;
    border: 1px groove @borderColor;
    font-size: 1.25em;
  }

  .item-detail{
    flex: 0 0 70px;
  }

  .add-icon, .item-detail-space{
    flex: 0 0 0px;
    width: 20px;
    height: 20px;
  }
}


.item-list{
.item{
  align-items: center;
  text-align: center;
  display: flex;
  height:100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px ridge @borderColor;


  .item-title{
    width: 70%;
    display: flex;

    .item-icon{
      display: block;
      background-size: 100%;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
    }

    h4{
      padding-left: 5px;
    }
  }

  .item-summary{
    flex: 0 0 100%;

    .item-properties .tag{
      display: inline-block;
      margin: 0 2px 0 0;
      padding: 0 3px;
      font-size: 10px;
      line-height: 16px;
    }
  }

  .armour-equipped-button{
    text-transform: uppercase;
  }

  .inactive{
    color: @inactive;
  }
}}