.vehicle{
  min-width: 670px;

  .main-content{
    display: grid;
    grid-template-areas: 'status nav'
                          'content content';
    grid-template-columns: auto 200px;
    grid-column-gap:20px;
    grid-row-gap: 20px;
  }

  .status-box{
    grid-area: status;
    text-align: center;

    .status-bars{
      .health-bar, .fuel-bar{
        width: 49.5%;
        display: inline-block;
      }

      .crew-bar{
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
      }
    }

    .vehicle-settings-div{
      text-align: right;
      margin-top: -32px;
      padding-right: 15px;
      padding-bottom: 5px;
    }

    .status-table{
      table{
        border-collapse: collapse;
        border: none;
      }

      table td:nth-child(odd){
        border-left: 1px solid @borderColor;
      }

      table td:first-child{
        border: none;
      }

      table tr:nth-child(even){
        background-color: transparent;
      }
    }

    .action-buttons{
      button{
        color: @fontColor;
        width: 40%;
        display: inline-block;
        border-color: @borderColor;
      }
    }
  }

  .nav-box{
    grid-area: nav;

    a{
      display: block;
      padding: 5px;
    }
  }

  .nav-content-box::-webkit-scrollbar {
    display: none;
  }

  .nav-content-box{
    grid-area: content;

    .crew-list-box{
      overflow: scroll;
      display: grid;
      grid-template-columns: 40% auto;

      .role-list{
        text-align: center;
        border-right: 1px solid @borderColor;
        padding-top: 10px;

        input{
          width: 1.5em;
        }

        table{
          border:none;
          margin: 0;
        }

        table th{
          border-bottom: 1px solid @borderColor;
          padding: 0;
          font-size: 1.25em;
          font-weight: normal;
        }

        table tr:nth-child(even){
          background: none;
        }

        table tr:hover{
          background-color: @navBackground;
        }
      }

      .crew-list{
        .crew-header{
          border-bottom: 1px solid @borderColor;
          padding-left: 25px;
          font-size: 1.25em;
          padding-top: 10px;
        }

        .crew-image{
          background-repeat: no-repeat;
          background-size: contain;
          max-width: 50px;
        }

        .strain-bar .full-bar{
          background-color: @strainBarCol;
        }

        .actor-list{
          padding: 0;
        }

        .actor:hover{
          background-color: @navBackground;
        }
      }
    }
  }
}