<div class="feat-box">
    <div class="feat-header">
        <p>Feat</p>
        <i class="fa fa-plus add-item-button" data-type="Feat"></i>
    </div>

    <div class="feat-list">
        {{#each feats as |feat id|}}
            {{> "systems/sbb/templates/sheets/card/feat.hbs" feat inSheet=true}}
        {{/each}}
    </div>
</div>