<div class="feat-box">
    <div class="feat-header">
        <h1>{{localize "SBB.tabNames.features"}}</h1>
        <div class="add-icon">
            <i class="fa fa-circle-plus add-item-button" data-type="Feat"></i>
        </div>
    </div>

    <div class="feat-list item-list">
        {{#each filteredItems.feats as |feat id|}}
            {{> "systems/sbb/templates/sheets/card/feat.hbs" feat}}
        {{/each}}
    </div>
</div>