<div class="effect-box">
    <ol class="effect-list">
        <li class="header flexrow">
            <div class="item-header">{{localize "SBB.effects.name"}}</div>

            <div class="item-detail">{{localize "SBB.effects.applied"}}</div>

            <div class="item-detail-edit">
                {{localize "SBB.common.edit"}}
            </div>
        </li>

        <ol class="item-list">
            {{#each filteredItems.injury}}
                {{> "systems/sbb/templates/sheets/card/sheet-item-basic.hbs"}}
            {{/each}}
        </ol>
    </ol>
</div>