<div class="status-bar">
    <h4>{{localize title}}</h4>

    <div class="bar-container {{#if (lt current min)}}below-min{{/if}}">
        <div class="progress-bar">
            <div class="full-bar"
            style="width: {{#percent current max}}{{/percent}}%">
            </div>
        </div>
    </div>
</div>