<div class="status-bar">
    {{title}}

    <div class="bar-container">
        <div class="progress-bar">
            <div class="full-bar"
            style="width: {{#percent current max}}{{/percent}}%">
            </div>
        </div>
    </div>
</div>